.full-height{
    height: 100%;
    max-height: 100%;
}
.relative{
    position: relative;
}
.line-through{
    text-decoration: line-through;
}
.app-body{
    background-color: #fff;
}
.no-mt{
    margin-top: 0;
}
.no-mb{
    margin-bottom: 0;
}
.no-pb{
    padding-bottom: 0;
}
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.mt20{
    margin-top: 20px;
}
.mt30{
    margin-top: 30px;
}
.mb10{
    margin-bottom: 10px;
}
.mb15{
    margin-bottom: 15px;
}
.mb20{
    margin-bottom: 20px;
}
.pr10{
    padding-right: 10px;
}
.budge-muted{
    background-color: #777;
}
.budge-primary{
    background-color: #337ab7;
}
.budge-success{
    background-color: #3c763d;
}
.budge-info{
    background-color: #31708f;
}
.budge-warning{
    background-color: #8a6d3b;
}
.budge-danger{
    background-color: #a94442;
}
.logo{
    background-color:#033e5b;
}
.logo > img{
    max-width:200px;
    display:block;
    margin:0 auto;
    padding-top:20px;
    padding-bottom:20px;
}
.list-group-item.budge-left{
    position: relative;
    padding-left: 3em;
}
.list-group-item.budge-left > .badge{
    position: absolute;
    top: 0;
    left: 1em;
    bottom: 0;
    float: none;
    margin: auto;
    height: 18px;
}
.truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.line-height-30{
    line-height: 30px;
}
textarea{
    resize: none;
}
.has-error .form-control {
    border-color: #a94442!important;
}
input.ng-invalid, textarea.ng-invalid, .ng-dirty input.ng-invalid{
    border-color: #ccc;
}
.apprentice-item > .thumbnail > a{
    display: block;
}
.apprentice-item .caption > *{
    line-height: 20px;
}
.apprentice-item .caption label{
    display: block;
}
.charts{
    height: 100%;
}
.charts-table{
    display: table;
    width: 100%;
    table-layout: fixed;
}
.charts-table canvas{
    max-width: 100%!important;
    max-height: 100%!important;
}
.charts-table > *{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: none;
    padding: 0;
}
.charts.charts-3 > *{
    height: 33.333333%;
}
@media (min-width: 992px){
    .charts{
        display: table;
        width: 100%;
    }
    .charts-table{
        display: table-cell;
        height: 100%;
        vertical-align: middle;
    }
    .charts.charts-3 .charts-table{
        width: 33.333333%;
    }
    .charts-table > * {
        display: block;
        text-align: center;
        float: none;
        padding: 0;
        margin: 10% auto;
    }
}
.event-detail-container > .scrollable{
    position: static;
    height: auto!important;
}
.glyphicon{
    display: inline-block;
    font: 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-left:before{
    content: "\f053";
}
.glyphicon-chevron-right:before{
    content: "\f054";
}
.calendar-no-mb table{
    margin-bottom: 0;
}
.scorecard-number{
    line-height: 30px;
}
.loading-spinner{
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    color: #007aff;
}
table.social-proof-table tr td{
    vertical-align: middle;
}
table.social-proof-table tr td.col-small{
    width: 40px;
    padding-right: 0;
    padding-left: 5px;
}
table.social-proof-table tr td.col-70{
    width: 70px;
}
table.social-proof-table tr:first-child > td{
    border-top: 0;
}
table.users-table tr:first-child > td{
    border-top: 0;
}
.social-proof-spinner{
    font-size: 16px;
    color: #ff0000;
}
.thumbnail.checked{
    background-color: #076593;
}
ul[rn-carousel]{
    overflow: hidden;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    position: relative;
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    list-style: none;
    height: 250px;
}
ul[rn-carousel] > li{
    color: black;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: visible;
    vertical-align: top;
    position: absolute;
    width: 100%;
    height: 100%;
    white-space: normal;
    padding: 0;
    margin: 0;
    display: inline-block;
}
ul[rn-carousel] > li > img{
    max-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
ul[rn-carousel-buffered] > li{
    display: none;
}
ul[rn-carousel-transition="hexagon"]{
    overflow: visible;
}
.rn-carousel-control{
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    font-size: 2rem;
    position: absolute;
    top: 40%;
    opacity: 0.75;
    cursor: pointer;
}
.rn-carousel-control:hover{
    opacity: 1;
}
.rn-carousel-control.rn-carousel-control-prev{
    left: 0.5em;
}
.rn-carousel-control.rn-carousel-control-prev:before{
    content: "<";
}
.rn-carousel-control.rn-carousel-control-next{
    right: 0.5em;
}
.rn-carousel-control.rn-carousel-control-next:before{
    content: ">";
}
textarea.note{
    width: 100%;
    height: 100%;
}
.file-centered{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.list-group-item.child{
    padding-left: 15%;
}
.list-group-item.child-x-2{
    padding-left: 30%;
}
.cg-busy{
    z-index: 99999;
}
.forgot-link{
    color: #fff;
    text-decoration: underline;
}
.btn-navbar.btn-register{
    background-color: #4cd964;
    border: none;
    border-radius: 0;
}
.btn-navbar.btn-back{
    background-color: #033e5b;
    border: none;
    border-radius: 0;
}
.btn-register > p,
.btn-back > p{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0 5px 0;
}
.has-error > label.control-label{
    color: #272727;
}
.target-label{
    color: #fff;
}
label.btn.btn-upload{
    font-family: "FontAwesome";
    font-size: 12px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
label.btn.btn-upload.icon-image:before{
    content: "\f030";
}
label.btn.btn-upload.icon-upload:before{
    content: "\f093";
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #1e96d0;
}
.table>thead>tr.valign-middle>td,
.table>thead>tr.valign-middle>th{
    vertical-align: middle;
}
.thumbnail>video{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.modal-file-panel{
    margin-bottom: 0;
    border: 0;
}

/*start rp*/ 
.white {color: #fff;}
.btn-primary {background-color:#1e96d0; color:#fff; border-color: #1889c0;}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary.focus,
.btn-primary:active.focus,
.btn-primary.active.focus {
background-color:#41b6ef;
border-color: #4dbff7;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.section {background-color:#076593 !important;}
.scrollable-content{background-color:#076593 !important;background:#076593 !important;}
.app-content{background-color:#076593 !important;background:#076593 !important;}
.control-label {color:#fff;}
/* .has-navbar-top .app-body {padding-top:31px !important;} */
.page-header {border-bottom: 1px solid #022c41 !important;}
.navbar-app {
    min-height: 50px;
    border-color: #ccc;
    background: #f7f7f7;
    border-width: 1px;
    border-style: solid;
    color: #076593;}
a {color: #fff !important;}
.badge {background-color:#022c41 !important;}
h2 {color:#fff;}
/* .ng-binding {color:#fff;} */
.list-group {background-color:#076593 !important;}
.list-group-item {background-color:#025279 !important; color:#fff;}
.navbar-app .btn, .navbar-app .btn-navbar {color:#1e96d0 !important;}
.text-warning {color:#fff !important;}


.btn-rp {
background-color:#fff;
color:#272727;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-rp:focus,
.btn-rp:active:focus,
.btn-rp.active:focus,
.btn-rp.focus,
.btn-rp:active.focus,
.btn-rp.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
} 
.btn-rp:hover,
.btn-rp:focus,
.btn-rp.focus {
  color: #333333;
  text-decoration: none;
}
.btn-rp:active,
.btn-rp.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-rp.disabled,
.btn-rp[disabled],
fieldset[disabled] .btn-rp {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.btn-rp.disabled,
fieldset[disabled] a.btn-rp {
  pointer-events: none;
}
@media (max-width: 480px) {
    .social-proof-item > .thumbnail > *,
    .apprentice-item > .thumbnail img,
    .apprentice-calendar-item > .thumbnail img{
        height: 75px;
    }
}
@media (min-width: 480px) {
    .social-proof-item > .thumbnail > *,
    .apprentice-calendar-item > .thumbnail img{
        height: 150px;
    }
    .apprentice-item > .thumbnail img{
        height: 120px;
    }
}
@media (min-width: 768px) {
    .social-proof-item > .thumbnail > *{
        height: 200px;
    }
    .apprentice-calendar-item > .thumbnail img{
        height: 150px;
    }
    .apprentice-item > .thumbnail img{
        height: 100px;
    }
}