<!DOCTYPE html>
<html lang="en" data-ng-app="ICeoApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{titlePage}}</title>
    <link rel="stylesheet" href="/assets/css/components.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body data-cg-busy="busyPromise">
    <div class="app" data-ng-view></div>
    <div data-ui-yield-to="modals"></div>
    <div data-ng-if="isAuthenticated" class="sidebar sidebar-left">
        <div class="scrollable">
            <h1 class="scrollable-header app-name">iCEO</h1>
            <div class="scrollable-content">
                <div class="list-group" data-ui-turn-off='uiSidebarLeft'>
                    <a class="list-group-item" data-ng-href="/">Home<i class="fa fa-home pull-right"></i></a>
                    <a class="list-group-item" data-ng-href="/social-proof"><i class="fa fa-image pull-right"></i>Social Proof</a>
                    <a class="list-group-item" data-ng-href="/ceo-profile"><i class="fa fa-globe pull-right"></i>CEO</a>
                    <a class="list-group-item child" data-ng-href="/ceo-goals"><i class="fa fa-flag pull-right"></i>CEO Goals</a>
                    <a class="list-group-item child" data-ng-href="/calendar"><i class="fa fa-calendar pull-right"></i>CEO Calendar</a>
                    <a class="list-group-item child" data-ng-href="/lesson-plans"><i class="fa fa-list-alt pull-right"></i>Lesson Plan</a>
                    <a class="list-group-item child" data-ng-href="/notes"><i class="fa fa-sticky-note-o pull-right"></i>Notes</a>
                    <a class="list-group-item child" data-ng-href="/ceo-scoreboard"><i class="fa fa-bar-chart pull-right"></i>Scoreboard</a>
                    <a class="list-group-item child-x-2" data-ng-href="/apprentice-report"><i class="fa fa-universal-access pull-right"></i>Apprentice</a>
                    <a class="list-group-item child-x-2" data-ng-href="/deals-report"><i class="fa fa-trophy pull-right"></i>Deals</a>
                    <a class="list-group-item child-x-2" data-ng-href="/financial-report"><i class="fa fa-usd pull-right"></i>Financial</a>
                    <a class="list-group-item" data-ng-href="/groups"><i class="fa fa-group pull-right"></i>Groups</a>
                    <a data-ng-if="isAdmin" class="list-group-item" data-ng-href="/users"><i class="fa fa-user pull-right"></i>Users</a>
                    <a class="list-group-item" data-ng-click="logout()">Logout<i class="fa fa-sign-out pull-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/components.js"></script>
    <script src="/assets/js/app.js"></script>
</body>
</html>