<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-capitalize">
        Apprentice Report
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content">
                <ul class="white list-group no-mb">
                    <li class="white list-group-item">
                        New This Week
                        <span class="badge budge-info">{{ceo.report_apprentices.new_week | currency : "" : 0 }}</span>
                    </li>
                    <li class="white list-group-item">
                        New This Month
                        <span class="badge budge-info">{{ceo.report_apprentices.new_month | currency : "" : 0 }}</span>
                    </li>
                    <li class="white list-group-item">
                        New This Year
                        <span class="badge budge-info">{{ceo.report_apprentices.new_year | currency : "" : 0 }}</span>
                    </li>
                    <li class="white list-group-item">
                        Terminated This Week
                        <span class="badge budge-info">{{ceo.report_apprentices.lost_week | currency : "" : 0 }}</span>
                    </li>
                    <li class="white list-group-item">
                        Terminated This Month
                        <span class="badge budge-info">{{ceo.report_apprentices.lost_month | currency : "" : 0 }}</span>
                    </li>
                    <li class="white list-group-item">
                        Terminated This Year
                        <span class="badge budge-info">{{ceo.report_apprentices.lost_year | currency : "" : 0 }}</span>
                    </li>
                </ul>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped no-mb">
                        <thead>
                            <tr class="white">
                                <th data-ng-click="orderByField='first_name'; reverseSort = !reverseSort" class="white">
                                    Name
                                    <span ng-show="orderByField == 'first_name'">
                                        <span ng-show="!reverseSort"><i class="fa fa-sort-up"></i></span>
                                        <span ng-show="reverseSort"><i class="fa fa-sort-down"></i></span>
                                    </span>
                                </th>
                                <th data-ng-click="orderByField='profit_contracts'; reverseSort = !reverseSort" class="white">
                                    Profit earned
                                    <span ng-show="orderByField == 'profit_contracts'">
                                        <span ng-show="!reverseSort"><i class="fa fa-sort-up"></i></span>
                                        <span ng-show="reverseSort"><i class="fa fa-sort-down"></i></span>
                                    </span>
                                </th>
                                <th data-ng-click="orderByField='closed_contracts'; reverseSort = !reverseSort" class="white">
                                    Closed
                                    <span ng-show="orderByField == 'closed_contracts'">
                                        <span ng-show="!reverseSort"><i class="fa fa-sort-up"></i></span>
                                        <span ng-show="reverseSort"><i class="fa fa-sort-down"></i></span>
                                    </span>
                                </th>
                                <th data-ng-click="orderByField='lost_contracts'; reverseSort = !reverseSort" class="white">
                                    Lost
                                    <span ng-show="orderByField == 'lost_contracts'">
                                        <span ng-show="!reverseSort"><i class="fa fa-sort-up"></i></span>
                                        <span ng-show="reverseSort"><i class="fa fa-sort-down"></i></span>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="apprentice in ceo.apprentices | orderBy:orderByField:reverseSort" class="white">
                                <td>{{ apprentice.first_name }} {{apprentice.last_name}}</td>
                                <td>{{ apprentice.profit_contracts | currency : "" : 0 }}</td>
                                <td>{{ apprentice.closed_contracts | currency : "" : 0 }}</td>
                                <td>{{ apprentice.lost_contracts | currency : "" : 0 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a data-ng-href="/ceo-scoreboard" class="btn btn-navbar">Scoreboard</a>
    </div>
</div>