 <div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-capitalize">
        Authorization
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content section section-wide">
                <div class="page-header logo">
                    <img data-ng-src="/images/true-ceo-logo-white.png" width="100%" border="0">
                </div>
                <div class="container">
                    <form name="FormLogin" data-ng-submit="loginSubmit()" novalidate>
                        <div data-ng-if="FormLogin.message" class="alert {{FormLogin.message.class}} text-center" role="alert">{{FormLogin.message.text}}</div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                                <div class="form-group-sm mb20" data-ng-class="{ 'has-error': FormLogin.$submitted && FormLogin.email.$invalid }">
                                    <input type="email"
                                           class="form-control"
                                           name="email"
                                           data-ng-model="user.email"
                                           placeholder="Email"
                                           required>
                                    <div data-ng-show="FormLogin.$submitted" data-ng-messages="FormLogin.email.$error" role="alert">
                                        <span data-ng-message="required" class="help-block small no-mb">Email not should be empty.</span>
                                        <span data-ng-message="email" class="help-block small no-mb">Email an incorrect.</span>
                                    </div>
                                </div>
                                <div class="form-group-sm mb20" data-ng-class="{ 'has-error': FormLogin.$submitted && FormLogin.password.$invalid }">
                                    <input type="password"
                                           class="form-control"
                                           name="password"
                                           data-ng-model="user.password"
                                           placeholder="Password"
                                           required
                                           data-ng-minlength="6"
                                           data-ng-maxlength="100">
                                    <div data-ng-show="FormLogin.$submitted" data-ng-messages="FormLogin.password.$error" role="alert">
                                        <span data-ng-message="required" class="help-block small no-mb">Password not should be empty.</span>
                                        <span data-ng-message="minlength" class="help-block small no-mb">Password is too short.</span>
                                        <span data-ng-message="maxlength" class="help-block small no-mb">Password is too long.</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary text-capitalize btn-block">Sign In</button>
                                </div>
                                <div class="form-group text-center">
                                    <button type="button" data-ui-turn-on="modalForgot" data-ng-click="clearLoginForm()" class="btn-link forgot-link">Forgot your password?</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-ui-content-for="modals">
    <div class="modal" data-ui-if="modalForgot" data-ui-state="modalForgot">
        <div class="modal-backdrop in"></div>
        <form name="FormForgot" class="modal-dialog" data-ng-submit="forgotSubmit()" novalidate>
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalForgot">&times;</button>
                    <h4 class="modal-title">Forgot Password</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormForgot.$submitted && FormForgot.email.$invalid }">
                        <label class="control-label">Email</label>
                        <input type="email"
                               class="form-control"
                               name="email"
                               data-ng-model="forgot.email"
                               data-custom-error
                               required>
                        <div data-ng-show="FormForgot.$submitted" data-ng-messages="FormForgot.email.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Email not should be empty.</span>
                            <span data-ng-message="email" class="help-block small no-mb">Email an incorrect.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormForgot.errors.email}}</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-ui-turn-off="modalForgot" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal" data-ui-if="modalForgotSuccess" data-ui-state="modalForgotSuccess">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalForgotSuccess">&times;</button>
                    <h4 class="modal-title">Forgot Password</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center text-success">New password was successfully sent to your email address.</p>
                </div>
                <div class="modal-footer">
                    <button data-ui-turn-off="modalForgotSuccess" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-overlay" data-ui-if="modalRegister" data-ui-state="modalRegister">
        <div class="modal-dialog">
            <form name="FormRegister" class="modal-content" data-ng-submit="registerSubmit()" novalidate>
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalRegister">&times;</button>
                    <h4 class="modal-title">Register</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormRegister.$submitted && FormRegister.name.$invalid }">
                        <label class="control-label">Name</label>
                        <input type="text"
                               class="form-control"
                               name="name"
                               data-ng-model="register.name"
                               data-custom-error
                               required
                               data-ng-minlength="3"
                               data-ng-maxlength="255">
                        <div data-ng-show="FormRegister.$submitted" data-ng-messages="FormRegister.name.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Name not should be empty.</span>
                            <span data-ng-message="minlength" class="help-block small no-mb">Name is too short.</span>
                            <span data-ng-message="maxlength" class="help-block small no-mb">Name is too long.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormRegister.errors.name}}</span>
                        </div>
                    </div>
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormRegister.$submitted && FormRegister.email.$invalid }">
                        <label class="control-label">Email</label>
                        <input type="email"
                               class="form-control"
                               name="email"
                               data-ng-model="register.email"
                               data-custom-error
                               required>
                        <div data-ng-show="FormRegister.$submitted" data-ng-messages="FormRegister.email.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Email not should be empty.</span>
                            <span data-ng-message="email" class="help-block small no-mb">Email an incorrect.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormRegister.errors.email}}</span>
                        </div>
                    </div>
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormRegister.$submitted && FormRegister.password.$invalid }">
                        <label class="control-label">Password</label>
                        <input type="password"
                               class="form-control"
                               name="password"
                               data-ng-model="register.password"
                               data-custom-error
                               required
                               data-ng-minlength="6"
                               data-ng-maxlength="100">
                        <div data-ng-show="FormRegister.$submitted" data-ng-messages="FormRegister.password.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Password not should be empty.</span>
                            <span data-ng-message="minlength" class="help-block small no-mb">Password is too short.</span>
                            <span data-ng-message="maxlength" class="help-block small no-mb">Password is too long.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormRegister.errors.password}}</span>
                        </div>
                    </div>
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormRegister.$submitted && FormRegister.password_confirmation.$invalid }">
                        <label class="control-label">Password Confirmation</label>
                        <input type="password"
                               class="form-control"
                               name="password_confirmation"
                               data-ng-model="register.password_confirmation"
                               required
                               data-ng-minlength="6"
                               data-ng-maxlength="100">
                        <div data-ng-show="FormRegister.$submitted" data-ng-messages="FormRegister.password_confirmation.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Password Confirmation not should be empty.</span>
                            <span data-ng-message="minlength" class="help-block small no-mb">Password Confirmation is too short.</span>
                            <span data-ng-message="maxlength" class="help-block small no-mb">Password Confirmation is too long.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-ui-turn-off="modalRegister" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>