<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-capitalize">
        Calendar
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content section">
			<div class="well">
                <calendar data-ng-model="currentDate"
                          data-calendar-mode="mode"
                          data-event-source="events"
                >
                </calendar>
				</div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a data-ng-href="/ceo-profile" class="btn btn-navbar"><i class="fa fa-reply"></i> Back to CEO Profile</a>
        <a data-ui-turn-on="modalCalendarEvent" class="btn btn-navbar"><i class="fa fa-calendar-plus-o"></i> Add</a>
    </div>
</div>
<div data-ui-content-for="modals">
    <div class="modal modal-overlay" data-ui-if="modalCalendarEvent" data-ui-state="modalCalendarEvent">
        <form name="FormEvent" data-ng-submit="addEvent()" class="scrollable" novalidate>
            <div class="scrollable-header">
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalCalendarEvent">&times;</button>
                    <h4 class="modal-title">Add New Event</h4>
                </div>
            </div>
            <div class="scrollable-content">
                <div class="modal-body">
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormEvent.$submitted && FormEvent.title.$invalid }">
                        <label class="control-label">Title</label>
                        <input type="text"
                               class="form-control"
                               name="title"
                               data-ng-model="event.title"
                               data-custom-error
                               required
                               data-ng-minlength="3"
                               data-ng-maxlength="255">
                        <div data-ng-show="FormEvent.$submitted" data-ng-messages="FormEvent.title.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Title not should be empty.</span>
                            <span data-ng-message="minlength" class="help-block small no-mb">Title is too short.</span>
                            <span data-ng-message="maxlength" class="help-block small no-mb">Title is too long.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormEvent.errors.title}}</span>
                        </div>
                    </div>
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormEvent.$submitted && FormEvent.description.$invalid }">
                        <label class="control-label">Description</label>
                        <textarea class="form-control"
                                  name="description"
                                  data-ng-model="event.description"
                                  rows="8"
                                  data-custom-error
                                  required
                                  data-ng-maxlength="2000"
                        >
                        </textarea>
                        <div data-ng-show="FormEvent.$submitted" data-ng-messages="FormEvent.description.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Description not should be empty.</span>
                            <span data-ng-message="maxlength" class="help-block small no-mb">Description is too long.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormEvent.errors.description}}</span>
                        </div>
                    </div>
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormEvent.$submitted && FormEvent.due_date.$invalid }">
                        <label class="control-label">Due Date</label>
                        <div class="input-group"
                             data-moment-picker="event.due_date"
                             data-locale="en"
                             data-format="MM/DD/YYYY"
                        >
                                                 <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                            <input class="form-control"
                                   placeholder="Select a date"
                                   name="due_date"
                                   ng-model="event.due_date"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   data-custom-error
                                   required
                            >
                        </div>
                        <div data-ng-show="FormEvent.$submitted" data-ng-messages="FormEvent.due_date.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Due Date not should be empty.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormEvent.errors.due_date}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scrollable-footer">
                <div class="modal-footer">
                    <button data-ui-turn-off="modalCalendarEvent" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add Event</button>
                </div>
            </div>
        </form>
    </div>
</div>