<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-uppercase">
        Ceo Profile
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content">
                <div class="container">
                    <div class="center-block mt15">
                        <a data-ng-href="/ceo-goals" class="btn btn-primary btn-lg text-capitalize btn-block">CEO Goals</a>
                        <a data-ng-href="/calendar" class="btn btn-primary btn-lg text-capitalize btn-block">Calendar</a>
                        <a data-ng-href="/lesson-plans" class="btn btn-primary btn-lg text-capitalize btn-block">Lesson Plans</a>
                        <a data-ng-href="/notes" class="btn btn-primary btn-lg text-capitalize btn-block">Notes</a>
                    </div>
                    <a data-ng-href="/ceo-scoreboard" class="btn btn-success btn-lg text-capitalize btn-block mt30 mb15">Scoreboard</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a href="/" class="btn btn-navbar btn-back"><p>Back</p></a>
    </div>
</div>