<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-uppercase">
        Ceo Scoreboard
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content section">
                <div class="charts charts-3">
                    <div class="charts-table">
                        <div class="col-xs-8 col-md-12">
                            <canvas class="chart chart-doughnut" data-chart-data="charts.apprentices.data" data-chart-labels="charts.apprentices.labels"></canvas>
                        </div>
                        <div class="col-xs-4 col-md-12">
                            <a data-ng-href="/apprentice-report" class="btn btn-success text-capitalize">Apprentices</a>
                        </div>
                    </div>
                    <div class="charts-table">
                        <div class="col-xs-4 col-md-12">
                            <a data-ng-href="/deals-report" class="btn btn-info text-capitalize">Deals</a>
                        </div>
                        <div class="col-xs-8 col-md-12">
                            <canvas class="chart chart-doughnut" data-chart-data="charts.deals.data" data-chart-labels="charts.deals.labels"></canvas>
                        </div>
                    </div>
                    <div class="charts-table">
                        <div class="col-xs-8 col-md-12">
                            <canvas class="chart chart-doughnut" data-chart-data="charts.financial.data" data-chart-labels="charts.financial.labels"></canvas>
                        </div>
                        <div class="col-xs-4 col-md-12">
                            <a data-ng-href="/financial-report" class="btn btn-danger text-capitalize">Financial</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a data-ng-href="/ceo-profile" class="btn btn-navbar">Back to CEO Profile</a>
    </div>
</div>