<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-capitalize">
        Contracts
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content">
                <div data-ng-if="apprentice.contracts.length > 0" class="list-group">
                    <a data-ng-repeat="contract in apprentice.contracts" data-ng-href="/member/{{apprentice.id}}/contract/{{contract.id}}" class="list-group-item">
                        {{contract.address}}
                        <span data-ng-if="contract.status === 0" class="badge budge-info">Open</span>
                        <span data-ng-if="contract.status === 1" class="badge budge-success">Closed</span>
                        <span data-ng-if="contract.status === 2" class="badge budge-danger">Lost</span>
                    </a>
                </div>
                <p data-ng-if="apprentice.contracts.length === 0" class="section text-warning text-center">Contracts not found!</p>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a data-ng-href="/member/{{apprentice.id}}/scorecard" class="btn btn-navbar">Scorecard</a>
        <a data-ng-href="/member/{{apprentice.id}}" class="btn btn-navbar">Profile</a>
        <a data-ng-href="/group/{{apprentice.group_id}}" class="btn btn-navbar">Apprentices</a>
    </div>
</div>