<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-capitalize">
        {{title}}
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content section">
                <div class="panel panel-info">

                    <div class="panel-body">
                        <div class="well well-sm no-mb">
                            {{contract.address}}<br>
                            {{contract.city}}, {{contract.state}} {{contract.zip}}
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Seller
                            <span class="badge budge-primary">{{contract.seller_name}}</span>
                        </li>
                        <li class="list-group-item">
                            Exit Strategy
                            <span class="badge budge-primary">{{contract.exit_strategy.title}}</span>
                        </li>
                        <li class="list-group-item">
                            Potential Profit Amount
                            <span class="badge budge-primary">{{contract.profit_amount | currency:"$":2}}</span>
                        </li>
                        <li class="list-group-item">
                            Days left in Contract
                            <span class="badge budge-primary">{{contract.left}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                        <div data-ng-if="contract.status === 0" class="btn-group btn-group-justified" role="group">
                            <div class="btn-group" role="group">
                                <button type="button" data-ui-turn-on="modalClosed" class="btn btn-success">Closed</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" data-ui-turn-on="modalLost" class="btn btn-danger">Lost</button>
                            </div>
                        </div>
                        <div data-ng-if="contract.status === 1" class="alert alert-success text-center text-capitalize" role="alert">
                            Contract is Closed
                        </div>
                        <div data-ng-if="contract.status === 2" class="alert alert-danger text-center text-capitalize" role="alert">
                            Contract is Lost
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a data-ng-href="/member/{{contract.apprentice_id}}/scorecard" class="btn btn-navbar"><i class="fa fa-reply"></i> Back to Scorecard</a>
        <a data-ng-href="/member/{{contract.apprentice_id}}/contract/{{contract.id}}/edit" class="btn btn-navbar"><i class="fa fa-edit"></i> Edit</a>
    </div>
</div>
<div ui-content-for="modals">

    <div class="modal" data-ui-if="modalClosed" data-ui-state="modalClosed">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalClosed">&times;</button>
                    <h4 class="modal-title">Closing a contract</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to mark this contract as Closed?
                </div>
                <div class="modal-footer">
                    <button data-ui-turn-off="modalClosed" class="btn btn-default">No</button>
                    <button data-ui-turn-off="modalClosed" data-ng-click="Closed()" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-ui-if="modalLost" data-ui-state="modalLost">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalLost">&times;</button>
                    <h4 class="modal-title">Lost a contract</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to mark this contract as Lost?
                </div>
                <div class="modal-footer">
                    <button data-ui-turn-off="modalLost" class="btn btn-default">No</button>
                    <button data-ui-turn-off="modalLost" data-ng-click="Lost()" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>

</div>