<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-capitalize">
        Deals Report
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content">
                <ul class="list-group white">
                    <li class="list-group-item clearfix">
                        Current Total Prospects
                        <span class="badge budge-info">{{ ceo.deals.current_total_prospects | currency : "" : 0 }}</span>
                    </li>
                    <li class="list-group-item clearfix">
                        Current Under Contract
                        <span class="badge budge-info">{{ ceo.deals.current_under_contract | currency : "" : 0 }}</span>
                    </li>
                    <li class="list-group-item clearfix">
                        Goal Closed This Month
                        <span class="badge budge-info">{{ ceo.deals.goal_closed_this_month | currency : "" : 0 }}</span>
                    </li>
                    <li class="list-group-item clearfix">
                        Total Closed This Month
                        <span class="badge budge-info">{{ ceo.deals.total_closed_this_month | currency : "" : 0 }}</span>
                    </li>
                    <li class="list-group-item clearfix">
                        Total Closed This Year
                        <span class="badge budge-info">{{ ceo.deals.total_closed_this_year | currency : "" : 0 }}</span>
                    </li>
                    <li class="list-group-item clearfix">
                        Total Closed as CEO
                        <span class="badge budge-info">{{ ceo.deals.total_closed_lifetime | currency : "" : 0 }}</span>
                    </li>
                    <li class="list-group-item clearfix">
                        Closed/Lost this month
                        <span class="badge budge-info">{{ ((ceo.deals.total_lost_this_month / ceo.deals.total_closed_this_month) * 100) | currency : "" : 0 }}%</span>
                        <span class="badge">{{ ceo.deals.total_lost_this_month | currency : "" : 0 }} / {{ ceo.deals.total_closed_this_month | currency : "" : 0 }}</span>
                    </li>
                    <li class="list-group-item clearfix">
                        Closed/Lost this year
                        <span class="badge budge-info">{{ ((ceo.deals.total_lost_this_year / ceo.deals.total_closed_this_year) * 100) | currency : "" : 0 }}%</span>
                        <span class="badge">{{ ceo.deals.total_lost_this_year | currency : "" : 0 }} / {{ ceo.deals.total_closed_this_year | currency : "" : 0 }}</span>
                    </li>
                    <li class="list-group-item clearfix">
                        Closed/Lost Lifetime
                        <span class="badge budge-info">{{ ((ceo.deals.total_lost_lifetime / ceo.deals.total_closed_lifetime) * 100) | currency : "" : 0 }}%</span>
                        <span class="badge">{{ ceo.deals.total_lost_lifetime | currency : "" : 0 }} / {{ ceo.deals.total_closed_lifetime | currency : "" : 0 }}</span>
                    </li>
                </ul>
                <h4 class="white text-center mb15">Under Contract Deals</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped no-mb">
                        <thead>
                            <tr class="white valign-middle">
                                <th>Property Address</th>
                                <th>Apprentice</th>
                                <th class="text-center">Potential Profit</th>
                                <th class="text-center">Apprentice Profit</th>
                                <th class="text-center">Contract Expiration</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="contract in ceo.deals.contracts" class="white">
                            <td>{{ contract.address }}, {{contract.city}}, {{contract.state}} {{contract.zip}}</td>
                            <td>{{ contract.apprentice.first_name }} {{ contract.apprentice.last_name }}</td>
                            <td class="text-center">{{ contract.profit_amount | currency : "$" : 2 }}</td>
                            <td class="text-center">{{ contract.apprentice_profit | currency : "$" : 2 }}</td>
                            <td class="text-center">{{ contract.contract_expiration }}</td>
                            <td class="text-center">
                                <a class="btn btn-success btn-xs" data-ng-href="/member/{{ contract.apprentice_id }}/contract/{{ contract.id }}"><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a data-ng-href="/ceo-scoreboard" class="btn btn-navbar">Scoreboard</a>
    </div>
</div>