<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-capitalize">
        {{title}}
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content section">
                <div class="container">
                    <form name="FormContract" novalidate>
                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group-sm" data-ng-class="{ 'has-error': FormContract.$submitted && FormContract.seller_name.$invalid }">
                                            <label class="control-label" for="seller_name">Seller Name</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="seller_name"
                                                   name="seller_name"
                                                   data-ng-model="contract.seller_name"
                                                   placeholder="Seller Name"
                                                   data-custom-error
                                                   required
                                                   data-ng-minlength="3"
                                                   data-ng-maxlength="25">
                                            <div data-ng-show="FormContract.$submitted" data-ng-messages="FormContract.seller_name.$error" role="alert">
                                                <span data-ng-message="required" class="help-block small no-mb">Seller Name not should be empty.</span>
                                                <span data-ng-message="minlength" class="help-block small no-mb">Seller Name is too short.</span>
                                                <span data-ng-message="maxlength" class="help-block small no-mb">Seller Name is too long.</span>
                                                <span data-ng-message="custom" class="help-block small no-mb">{{FormContract.errors.seller_name}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group-sm" data-ng-class="{ 'has-error': FormContract.$submitted && FormContract.address.$invalid }">
                                            <label class="control-label" for="address">Address</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="address"
                                                   name="address"
                                                   data-ng-model="contract.address"
                                                   placeholder="Address"
                                                   data-custom-error
                                                   required
                                                   data-ng-minlength="3"
                                                   data-ng-maxlength="128">
                                            <div data-ng-show="FormContract.$submitted" data-ng-messages="FormContract.address.$error" role="alert">
                                                <span data-ng-message="required" class="help-block small no-mb">Address not should be empty.</span>
                                                <span data-ng-message="minlength" class="help-block small no-mb">Address is too short.</span>
                                                <span data-ng-message="maxlength" class="help-block small no-mb">Address is too long.</span>
                                                <span data-ng-message="custom" class="help-block small no-mb">{{FormContract.errors.address}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group-sm" data-ng-class="{ 'has-error': FormContract.$submitted && FormContract.city.$invalid }">
                                            <label class="control-label" for="city">City</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="city"
                                                   name="city"
                                                   data-ng-model="contract.city"
                                                   placeholder="City"
                                                   data-custom-error
                                                   required
                                                   data-ng-minlength="3"
                                                   data-ng-maxlength="128">
                                            <div data-ng-show="FormContract.$submitted" data-ng-messages="FormContract.city.$error" role="alert">
                                                <span data-ng-message="required" class="help-block small no-mb">City not should be empty.</span>
                                                <span data-ng-message="minlength" class="help-block small no-mb">City is too short.</span>
                                                <span data-ng-message="maxlength" class="help-block small no-mb">City is too long.</span>
                                                <span data-ng-message="custom" class="help-block small no-mb">{{FormContract.errors.city}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group-sm" data-ng-class="{ 'has-error': FormContract.$submitted && FormContract.state.$invalid }">
                                            <label class="control-label" for="state">State</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="state"
                                                   name="state"
                                                   data-ng-model="contract.state"
                                                   placeholder="State"
                                                   data-custom-error
                                                   required
                                                   data-ng-minlength="3"
                                                   data-ng-maxlength="64">
                                            <div data-ng-show="FormContract.$submitted" data-ng-messages="FormContract.state.$error" role="alert">
                                                <span data-ng-message="required" class="help-block small no-mb">State not should be empty.</span>
                                                <span data-ng-message="minlength" class="help-block small no-mb">State is too short.</span>
                                                <span data-ng-message="maxlength" class="help-block small no-mb">State is too long.</span>
                                                <span data-ng-message="custom" class="help-block small no-mb">{{FormContract.errors.state}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group-sm" data-ng-class="{ 'has-error': FormContract.$submitted && FormContract.zip.$invalid }">
                                            <label class="control-label" for="zip">Zip</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="zip"
                                                   name="zip"
                                                   data-ng-model="contract.zip"
                                                   placeholder="Zip"
                                                   data-custom-error
                                                   required
                                                   data-ng-minlength="4"
                                                   data-ng-maxlength="10">
                                            <div data-ng-show="FormContract.$submitted" data-ng-messages="FormContract.zip.$error" role="alert">
                                                <span data-ng-message="required" class="help-block small no-mb">Zip not should be empty.</span>
                                                <span data-ng-message="minlength" class="help-block small no-mb">Zip is too short.</span>
                                                <span data-ng-message="maxlength" class="help-block small no-mb">Zip is too long.</span>
                                                <span data-ng-message="custom" class="help-block small no-mb">{{FormContract.errors.zip}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-ng-if="isEdit" class="col-xs-12">
                                        <div class="form-group-sm" data-ng-class="{ 'has-error': FormContract.$submitted && FormContract.status.$invalid }">
                                            <label class="control-label" for="status">Status</label>
                                            <select
                                                    class="form-control"
                                                    id="status"
                                                    name="status"
                                                    data-ng-model="contract.status"
                                                    data-ng-options="status_entry.id as status_entry.title for status_entry in status_list"
                                                    data-custom-error
                                                    required
                                            >
                                                <option value=""></option>
                                            </select>
                                            <div data-ng-show="FormContract.$submitted" data-ng-messages="FormContract.status.$error" role="alert">
                                                <span data-ng-message="required" class="help-block small no-mb">Status not selected.</span>
                                                <span data-ng-message="custom" class="help-block small no-mb">{{FormContract.errors.status}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group-sm" data-ng-class="{ 'has-error': FormContract.$submitted && FormContract.exit_strategy_id.$invalid }">
                                            <label class="control-label" for="exit_strategy_id">Exit Strategy</label>
                                            <select
                                                class="form-control"
                                                id="exit_strategy_id"
                                                name="exit_strategy_id"
                                                data-ng-model="contract.exit_strategy_id"
                                                data-ng-options="exit_strategy.id as exit_strategy.title for exit_strategy in exit_strategies"
                                                data-custom-error
                                                required
                                            >
                                            </select>
                                            <div data-ng-show="FormContract.$submitted" data-ng-messages="FormContract.exit_strategy_id.$error" role="alert">
                                                <span data-ng-message="required" class="help-block small no-mb">Exit Strategy not selected.</span>
                                                <span data-ng-message="custom" class="help-block small no-mb">{{FormContract.errors.exit_strategy_id}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group-sm" data-ng-class="{ 'has-error': FormContract.$submitted && FormContract.profit_amount.$invalid }">
                                            <label class="control-label" for="profit_amount">Potential Profit Amount</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="profit_amount"
                                                   name="profit_amount"
                                                   data-ng-currency
                                                   data-currency-symbol=""
                                                   min="0"
                                                   data-fraction="2"
                                                   data-ng-model="contract.profit_amount"
                                                   placeholder="Profit Amount"
                                                   data-custom-error
                                                   required>
                                            <div data-ng-show="FormContract.$submitted" data-ng-messages="FormContract.profit_amount.$error" role="alert">
                                                <span data-ng-message="required" class="help-block small no-mb">Profit Amount not should be empty.</span>
                                                <span data-ng-message="custom" class="help-block small no-mb">{{FormContract.errors.profit_amount}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group-sm" data-ng-class="{ 'has-error': FormContract.$submitted && FormContract.apprentice_profit.$invalid }">
                                            <label class="control-label" for="apprentice_profit">Apprentice Profit</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="apprentice_profit"
                                                   name="apprentice_profit"
                                                   data-ng-currency
                                                   data-currency-symbol=""
                                                   min="0"
                                                   data-fraction="2"
                                                   data-ng-model="contract.apprentice_profit"
                                                   placeholder="Apprentice Profit"
                                                   data-custom-error
                                                   required>
                                            <div data-ng-show="FormContract.$submitted" data-ng-messages="FormContract.apprentice_profit.$error" role="alert">
                                                <span data-ng-message="required" class="help-block small no-mb">Apprentice Profit not should be empty.</span>
                                                <span data-ng-message="custom" class="help-block small no-mb">{{FormContract.errors.apprentice_profit}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group-sm" data-ng-class="{ 'has-error': FormContract.$submitted && FormContract.date_of_contract.$invalid }">
                                            <label class="control-label" for="date_of_contract">Date of Contract</label>
                                            <div class="input-group"
                                                 data-moment-picker="contract.date_of_contract"
                                                 data-max-date="contract.contract_expiration"
                                                 data-locale="en"
                                                 data-format="MM/DD/YYYY"
                                            >
                                                 <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input class="form-control"
                                                       placeholder="Select a date"
                                                       id="date_of_contract"
                                                       name="date_of_contract"
                                                       ng-model="contract.date_of_contract"
                                                       ng-model-options="{ updateOn: 'blur' }"
                                                       data-custom-error
                                                       required
                                                >
                                            </div>
                                            <div data-ng-show="FormContract.$submitted" data-ng-messages="FormContract.date_of_contract.$error" role="alert">
                                                <span data-ng-message="required" class="help-block small no-mb">Date of Contract not should be empty.</span>
                                                <span data-ng-message="custom" class="help-block small no-mb">{{FormContract.errors.date_of_contract}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group-sm" data-ng-class="{ 'has-error': FormContract.$submitted && FormContract.contract_expiration.$invalid }">
                                            <label class="control-label" for="contract_expiration">Contract Expiration</label>
                                            <div class="input-group"
                                                 data-moment-picker="contract.contract_expiration"
                                                 data-min-date="contract.date_of_contract"
                                                 data-locale="en"
                                                 data-format="MM/DD/YYYY"
                                            >
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input class="form-control"
                                                       placeholder="Select a date"
                                                       id="contract_expiration"
                                                       name="contract_expiration"
                                                       ng-model="contract.contract_expiration"
                                                       ng-model-options="{ updateOn: 'blur' }"
                                                       data-custom-error
                                                       required
                                                >
                                            </div>
                                            <div data-ng-show="FormContract.$submitted" data-ng-messages="FormContract.contract_expiration.$error" role="alert">
                                                <span data-ng-message="required" class="help-block small no-mb">Contract Expiration not should be empty.</span>
                                                <span data-ng-message="custom" class="help-block small no-mb">{{FormContract.errors.contract_expiration}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div data-ng-if="!isEdit" class="btn-group justified">
        <a data-ng-href="/member/{{apprentice.id}}/scorecard" class="btn btn-navbar"><i class="fa fa-reply"></i> Back</a>
        <a data-ng-click="save()" class="btn btn-navbar"><i class="fa fa-save"></i> Create</a>
    </div>
    <div data-ng-if="isEdit" class="btn-group justified">
        <a data-ng-href="/member/{{contract.apprentice_id}}/contract/{{contract.id}}" class="btn btn-navbar"><i class="fa fa-reply"></i> Back</a>
        <a data-ng-click="save()" class="btn btn-navbar"><i class="fa fa-save"></i> Save</a>
    </div>
</div>