<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-capitalize">
        {{title}}
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content section">
                <div class="container">
                    <form name="FormMember" novalidate>
                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 col-lg-4">
                                        <div class="form-group-sm" data-ng-class="{ 'has-error': FormMember.$submitted && FormMember.first_name.$invalid }">
                                            <label class="control-label" for="first_name">First Name</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="first_name"
                                                   name="first_name"
                                                   data-ng-model="apprentice.first_name"
                                                   placeholder="First Name"
                                                   data-custom-error
                                                   required
                                                   data-ng-minlength="3"
                                                   data-ng-maxlength="15">
                                            <div data-ng-show="FormMember.$submitted" data-ng-messages="FormMember.first_name.$error" role="alert">
                                                <span data-ng-message="required" class="help-block small no-mb">First Name not should be empty.</span>
                                                <span data-ng-message="minlength" class="help-block small no-mb">First Name is too short.</span>
                                                <span data-ng-message="maxlength" class="help-block small no-mb">First Name is too long.</span>
                                                <span data-ng-message="custom" class="help-block small no-mb">{{FormMember.errors.first_name}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-12 col-lg-4">
                                        <div class="form-group-sm" data-ng-class="{ 'has-error': FormMember.$submitted && FormMember.last_name.$invalid }">
                                            <label class="control-label" for="last_name">Last Name</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="last_name"
                                                   name="last_name"
                                                   data-ng-model="apprentice.last_name"
                                                   placeholder="Last Name"
                                                   data-custom-error
                                                   required
                                                   data-ng-minlength="3"
                                                   data-ng-maxlength="15">
                                            <div data-ng-show="FormMember.$submitted" data-ng-messages="FormMember.last_name.$error" role="alert">
                                                <span data-ng-message="required" class="help-block small no-mb">Last Name not should be empty.</span>
                                                <span data-ng-message="minlength" class="help-block small no-mb">Last Name is too short.</span>
                                                <span data-ng-message="maxlength" class="help-block small no-mb">Last Name is too long.</span>
                                                <span data-ng-message="custom" class="help-block small no-mb">{{FormMember.errors.last_name}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-12 col-lg-4">
                                        <div class="form-group-sm" data-ng-class="{ 'has-error': FormMember.$submitted && FormMember.phone.$invalid }">
                                            <label class="control-label" for="phone">Phone Number</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="phone"
                                                   name="phone"
                                                   data-ng-model="apprentice.phone"
                                                   placeholder="Phone Number"
                                                   data-ui-mask="(999) 999-9999"
                                                   data-ui-mask-placeholder
                                                   data-ui-mask-placeholder-char="_"
                                                   data-custom-error
                                                   required>
                                            <div data-ng-show="FormMember.$submitted" data-ng-messages="FormMember.phone.$error" role="alert">
                                                <span data-ng-message="required" class="help-block small no-mb">Phone Number not should be empty.</span>
                                                <span data-ng-message="mask" class="help-block small no-mb">Phone Number should be 10 digits.</span>
                                                <span data-ng-message="custom" class="help-block small no-mb">{{FormMember.errors.phone}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-12">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 col-lg-4">
                                        <div class="form-group-sm" data-ng-class="{ 'has-error': FormMember.$submitted && FormMember.email.$invalid }">
                                            <label class="control-label" for="email">Email</label>
                                            <input type="email"
                                                   class="form-control"
                                                   id="email"
                                                   name="email"
                                                   data-ng-model="apprentice.email"
                                                   placeholder="Email"
                                                   data-custom-error
                                                   required>
                                            <div data-ng-show="FormMember.$submitted" data-ng-messages="FormMember.email.$error" role="alert">
                                                <span data-ng-message="required" class="help-block small no-mb">Email not should be empty.</span>
                                                <span data-ng-message="email" class="help-block small no-mb">Email an incorrect.</span>
                                                <span data-ng-message="custom" class="help-block small no-mb">{{FormMember.errors.email}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-12 col-lg-4">
                                        <div class="form-group-sm" data-ng-class="{ 'has-error': FormMember.$submitted && FormMember.current_salary.$invalid }">
                                            <label class="control-label" for="current_salary">Current Salary</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="current_salary"
                                                   name="current_salary"
                                                   data-ng-model="apprentice.current_salary"
                                                   placeholder="Current Salary"
                                                   data-ng-currency
                                                   data-currency-symbol=""
                                                   min="0"
                                                   data-fraction="0"
                                                   data-custom-error
                                                   required
                                            >
                                            <div data-ng-show="FormMember.$submitted" data-ng-messages="FormMember.current_salary.$error" role="alert">
                                                <span data-ng-message="required" class="help-block small no-mb">Current Salary not should be empty.</span>
                                                <span data-ng-message="maxlength" class="help-block small no-mb">Current Salary is too long.</span>
                                                <span data-ng-message="custom" class="help-block small no-mb">{{FormMember.errors.current_salary}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-12 col-lg-4">
                                        <div class="form-group-sm" data-ng-class="{ 'has-error': FormMember.$submitted && FormMember.group_id.$invalid }">
                                            <label class="control-label" for="group_id">Group</label>
                                            <select
                                                    class="form-control"
                                                    id="group_id"
                                                    name="group_id"
                                                    data-ng-model="apprentice.group_id"
                                                    data-ng-options="group.id as group.title for group in groups"
                                                    data-custom-error
                                                    required>
                                            </select>
                                            <div data-ng-show="FormMember.$submitted" data-ng-messages="FormMember.group_id.$error" role="alert">
                                                <span data-ng-message="required" class="help-block small no-mb">Group was not selected.</span>
                                                <span data-ng-message="custom" class="help-block small no-mb">{{FormMember.errors.group_id}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <div class="row form-group no-pb">
                                    <div class="col-xs-8">
                                        <img data-ngf-size="{width: 135, height: 135, quality: 0.9}" data-ngf-thumbnail="apprentice.image || '/images/avatar.png'" class="img-responsive img-thumbnail">
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <label for="apprentice_image" class="btn btn-info btn-lg pull-right"><i class="fa fa-camera"></i></label>
                                                <input type="file"
                                                       id="apprentice_image"
                                                       data-ngf-select
                                                       data-ng-model="apprentice.image"
                                                       name="image"
                                                       data-ngf-accept="'image/*'"
                                                       data-ngf-pattern="'image/*'"
                                                       data-ngf-max-size="1MB"
                                                       class="hide"
                                                >
                                            </div>
                                            <div class="col-xs-12 text-right">
                                                <div data-ng-messages="FormMember.image.$error" role="alert">
                                                    <span data-ng-message="maxSize" class="text-danger small no-mb">Maximum image size: 1MB.</span>
                                                    <span data-ng-message="custom" class="text-danger small no-mb">{{FormMember.errors.image}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a data-ng-click="back()" class="btn btn-navbar"><i class="fa fa-reply"></i> Back</a>
        <a data-ng-click="save()" class="btn btn-navbar"><i class="fa fa-save"></i> Done</a>
    </div>
</div>