<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-capitalize">
        Financial Report
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content">
                <ul class="list-group white">
                    <li class="list-group-item text-capitalize">
                        Profit Last Month
                        <strong class="pull-right">{{ ceo.financial.profit_last_month | currency : "$" : 2 }}</strong>
                    </li>
                    <li class="list-group-item text-capitalize">
                        Profit This Month
                        <strong class="pull-right">{{ ceo.financial.profit_this_month | currency : "$" : 2 }}</strong>
                    </li>
                    <li class="list-group-item text-capitalize">
                        Profit This Year
                        <strong class="pull-right">{{ ceo.financial.profit_this_year | currency : "$" : 2 }}</strong>
                    </li>
                    <li class="list-group-item text-capitalize">
                        Profit Lifetime
                        <strong class="pull-right">{{ ceo.financial.profit_lifetime | currency : "$" : 2 }}</strong>
                    </li>
                    <li class="list-group-item text-capitalize">
                        Potential Next Month
                        <strong class="pull-right">{{ ceo.financial.potential_next_month | currency : "$" : 2 }}</strong>
                    </li>
                    <li class="list-group-item text-capitalize">
                        Potential Lost
                        <strong class="pull-right">{{ ceo.financial.potential_lost | currency : "$" : 2 }}</strong>
                    </li>
                    <li class="list-group-item text-capitalize">
                        Avg Per Deal
                        <strong class="pull-right">{{ ceo.financial.avg_per_dial | currency : "$" : 2 }}</strong>
                    </li>
                    <li class="list-group-item text-capitalize">
                        Avg Per Wholesale
                        <strong class="pull-right">{{ ceo.financial.avg_per_wholesale | currency : "$" : 2 }}</strong>
                    </li>
                    <li class="list-group-item text-capitalize">
                        Avg Pre Prehab
                        <strong class="pull-right">{{ ceo.financial.avg_per_prehab | currency : "$" : 2 }}</strong>
                    </li>
                    <li class="list-group-item text-capitalize">
                        Avg Pre Rehab
                        <strong class="pull-right">{{ ceo.financial.avg_per_rehab | currency : "$" : 2 }}</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a data-ng-href="/ceo-scoreboard" class="btn btn-navbar">Scoreboard</a>
    </div>
</div>