<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-uppercase">
        Groups
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-header">
                <div class="container">
                    <div class="mt15 has-feedback clearfix">
                        <input type="text" class="form-control" data-ng-model="search.title">
                        <span class="fa fa-search form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="scrollable-content">
                <div class="container">
                    <div class="list-group mt15 white" data-ui-state="groupsEdit">
                        <div data-ng-repeat="group in groups | filter:search as results">
                            <a data-ui-if="!groupsEdit" data-ng-href="/group/{{group.id}}" class="list-group-item">
                                <span class="white badge budge-primary">{{group.apprentices_count}}</span>
                                {{group.title}}
                            </a>
                            <div data-ui-if="groupsEdit" class="list-group-item">
                                <div class="checkbox no-mt no-mb">
                                    <label>
                                        <input data-ng-disabled="!group.can_remove" type="checkbox" data-ng-model="group.checked">
                                        {{group.title}}
                                    </label>
                                    <button type="button" data-ng-click="modalEditGroup(group)" class="btn btn-primary btn-xs pull-right"><i class="fa fa-edit"></i></button>
                                </div>
                            </div>
                        </div>
                        <p data-ng-if="results.length === 0" class="text-warning text-center">Groups not found!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a data-ui-show="!groupsEdit" data-ng-href="/" class="btn btn-navbar"><i class="fa fa-reply"></i> Back</a>
        <a data-ui-turn-on="groupsEdit" data-ui-show="!groupsEdit" class="btn btn-navbar"><i class="fa fa-group"></i> Edit Groups</a>
        <a data-ui-turn-off="groupsEdit" data-ui-show="groupsEdit" data-ng-click="cancelGroups()" class="btn btn-navbar"><i class="fa fa-reply"></i> Cancel</a>
        <a data-ui-show="groupsEdit" data-ng-if="results.length > 0" data-ui-turn-on="modalConfirm" class="btn btn-navbar"><i class="fa fa-remove"></i> Remove</a>
        <a data-ui-turn-on="modalAddGroup" data-ui-show="groupsEdit" class="btn btn-navbar"><i class="fa fa-user-plus"></i> Add</a>
    </div>
</div>
<div data-ui-content-for="modals">
    <div class="modal modal-overlay" data-ui-if="modalAddGroup" data-ui-state="modalAddGroup">
        <div class="modal-dialog">
            <form name="FormAddGroup" class="modal-content" data-ng-submit="addGroup()" novalidate>
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalAddGroup">&times;</button>
                    <h4 class="modal-title">Add New Group</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormAddGroup.$submitted && FormAddGroup.title.$invalid }">
                        <input type="text"
                               class="form-control"
                               name="title"
                               data-ng-model="group.title"
                               required
                               data-custom-error
                               data-ng-minlength="3"
                               data-ng-maxlength="25">
                        <div data-ng-show="FormAddGroup.$submitted" data-ng-messages="FormAddGroup.title.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Group Name not should be empty.</span>
                            <span data-ng-message="minlength" class="help-block small no-mb">Group Name is too short.</span>
                            <span data-ng-message="maxlength" class="help-block small no-mb">Group Name is too long.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormAddGroup.errors.title}}</span>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label class="small">
                            <input type="checkbox" data-ng-model="group.count_as_lost">
                            Count this group's apprentices as lost
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-ui-turn-off="modalAddGroup" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add Group</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal modal-overlay" data-ui-if="modalEditGroup" data-ui-state="modalEditGroup">
        <div class="modal-dialog">
            <form name="FormEditGroup" class="modal-content" data-ng-submit="editGroup()" novalidate>
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalEditGroup">&times;</button>
                    <h4 class="modal-title">Edit Group - {{edit_group.title}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormEditGroup.$submitted && FormEditGroup.title.$invalid }">
                        <input type="text"
                               class="form-control"
                               name="title"
                               data-ng-model="edit_group.title"
                               required
                               data-custom-error
                               data-ng-minlength="3"
                               data-ng-maxlength="25">
                        <div data-ng-show="FormEditGroup.$submitted" data-ng-messages="FormEditGroup.title.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Group Name not should be empty.</span>
                            <span data-ng-message="minlength" class="help-block small no-mb">Group Name is too short.</span>
                            <span data-ng-message="maxlength" class="help-block small no-mb">Group Name is too long.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormEditGroup.errors.title}}</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-ui-turn-off="modalEditGroup" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal" data-ui-if="modalConfirm" data-ui-state="modalConfirm">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalConfirm">&times;</button>
                    <h4 class="modal-title">Group Deleting</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this group and it's apprentices?
                </div>
                <div class="modal-footer">
                    <button data-ui-turn-off="modalConfirm" class="btn btn-default">No</button>
                    <button data-ng-click="removeGroups()" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>