<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-capitalize">
        {{group.title}}
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content">
                <div class="container mt15" data-ui-state="membersEdit">
                    <div data-ng-if="group.apprentices.length > 0" class="row">
                        <div class="col-xs-4 col-md-2 col-lg-2 apprentice-item" data-ng-repeat="apprentice in group.apprentices">
                            <a data-ui-if="!membersEdit" data-ng-href="/member/{{apprentice.id}}" class="thumbnail">
                                <img class="img-responsive" data-ngf-thumbnail="apprentice.image || '/images/avatar.png'">
                                <div class="caption">
                                    <h3 class="text-capitalize text-center truncate small no-mb">{{apprentice.first_name}} {{apprentice.last_name}}</h3>
                                </div>
                            </a>
                            <div data-ui-if="membersEdit" class="thumbnail">
                                <img class="img-responsive" data-ngf-thumbnail="apprentice.image || '/images/avatar.png'">
                                <div class="caption">
                                    <div class="checkbox text-center no-mt">
                                        <label class="text-capitalize truncate small">
                                            <input type="checkbox" data-ng-model="apprentice.checked">
                                            {{apprentice.first_name}} {{apprentice.last_name}}
                                        </label>
                                    </div>
                                    <a class="btn btn-block btn-info btn-xs" data-ng-href="/member/edit/{{apprentice.id}}"><i class="fa fa-edit"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-ng-if="group.apprentices.length === 0" class="alert alert-warning text-center" role="alert">
                        Apprentice not found!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a data-ui-show="!membersEdit" data-ng-href="/groups" class="btn btn-navbar"><i class="fa fa-reply"></i> Back</a>
        <a data-ui-turn-on="membersEdit" data-ui-show="!membersEdit" data-ng-if="group.apprentices.length > 0" class="btn btn-navbar"><i class="fa fa-group"></i> Manage</a>
        <a data-ng-href="/member/add" data-ui-show="!membersEdit" class="btn btn-navbar"><i class="fa fa-user-plus"></i> Add</a>
        <a data-ui-turn-off="membersEdit" data-ui-show="membersEdit" data-ng-click="cancelApprentices()" class="btn btn-navbar"><i class="fa fa-reply"></i> Cancel</a>
        <a data-ui-show="membersEdit" data-ng-if="group.apprentices.length > 0" data-ng-click="showConfirm()" class="btn btn-navbar"><i class="fa fa-remove"></i> Remove</a>
        <a data-ui-show="membersEdit" data-ng-if="group.apprentices.length > 0" data-ng-click="changeGroup()" class="btn btn-navbar"><i class="fa fa-exchange"></i> Change Group</a>
    </div>
</div>
<div ui-content-for="modals">

    <div class="modal" data-ui-if="modalGroups" data-ui-state="modalGroups">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <form name="FormMoveGroup" data-ng-submit="moveGroup()" class="modal-content" novalidate>
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalGroups">&times;</button>
                    <h4 class="modal-title">Change Group</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormMoveGroup.$submitted && FormMoveGroup.group_id.$invalid }">
                        <label class="control-label">Group</label>
                        <select
                                class="form-control"
                                name="group_id"
                                data-ng-model="change_group"
                                data-ng-options="group.id as group.title for group in groups"
                                data-custom-error
                                required>
                        </select>
                        <div data-ng-show="FormMoveGroup.$submitted" data-ng-messages="FormMoveGroup.group_id.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Group was not selected.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormMoveGroup.errors.group_id}}</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-ui-turn-off="modalGroups" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Move</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal" data-ui-if="modalGroupsSuccess" data-ui-state="modalGroupsSuccess">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalGroupsSuccess">&times;</button>
                    <h4 class="modal-title">Change Group</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center text-success">Apprentices have been moved to new group</p>
                </div>
                <div class="modal-footer">
                    <button data-ui-turn-off="modalGroupsSuccess" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-ui-if="modalConfirm" data-ui-state="modalConfirm">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalConfirm">&times;</button>
                    <h4 class="modal-title">Removing Apprentices</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove checked apprentices?
                </div>
                <div class="modal-footer">
                    <button data-ui-turn-off="modalConfirm" class="btn btn-default">No</button>
                    <button data-ui-turn-off="modalConfirm" data-ng-click="removeApprentices()" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>

</div>