<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-capitalize">
        Home
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content">
                <div class="container">
                    <div class="page-header logo">
                        <img data-ng-src="/images/true-ceo-logo-white.png" width="100%" border="0">
                    </div>
                    <div class="center-block">
                        <a data-ng-href="/social-proof" class="btn btn-primary btn-lg text-uppercase btn-block mt10 mb10">Social Proof</a>
                        <a data-ng-href="/ceo-profile" class="btn btn-primary btn-lg text-uppercase btn-block mt10 mb10">Ceo Profile</a>
                        <a data-ng-if data-ng-href="/notifications" class="btn btn-primary btn-lg text-uppercase btn-block mt10 mb10">Notifications</a>
                        <a data-ng-href="/groups" class="btn btn-primary btn-lg text-uppercase btn-block mt10 mb10">Groups</a>
                        <a data-ng-if="isAdmin" data-ng-href="/users" class="btn btn-primary btn-lg text-uppercase btn-block mt10 mb10">Users</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>