<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-capitalize">
        {{ title }}
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content">
                <table data-ng-if="group.lessons.length" class="table table-striped social-proof-table">
                    <tr data-ng-repeat="lesson in group.lessons">
                        <td>
                            <a target="_blank" data-ng-href="{{lesson.document}}">{{lesson.title}}</a>
                        </td>
                        <td class="text-right col-70">
                            <div class="btn-group btn-group-xs">
                                <button type="button" data-ng-click="editLesson(lesson)" class="btn btn-info"><i class="fa fa-edit"></i></button>
                                <button type="button" data-ng-click="removeLesson(lesson)" class="btn btn-danger"><i class="fa fa-remove"></i></button>
                            </div>
                        </td>
                    </tr>
                </table>
                <p data-ng-if="group.lessons.length === 0" class="text-warning text-center mt15">Lesson Plans not found!</p>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a data-ng-href="/lesson-plans" class="btn btn-navbar"><i class="fa fa-reply"></i> Back</a>
        <a data-ng-click="addLesson()" class="btn btn-navbar"><i class="fa fa-user-plus"></i> Add Plan</a>
    </div>
</div>
<div data-ui-content-for="modals">
    <div class="modal modal-overlay" data-ui-if="modalLesson" data-ui-state="modalLesson">

        <form name="FormLessonAdd" data-ng-submit="createLesson(lesson)" class="scrollable" novalidate>
            <div class="scrollable-header">
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalLesson">&times;</button>
                    <h4 class="modal-title">New Lesson</h4>
                </div>
            </div>
            <div class="scrollable-content">
                <div class="modal-body">
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormLessonAdd.$submitted && FormLessonAdd.title.$invalid }">
                        <label class="control-label">Title</label>
                        <input type="text"
                               class="form-control"
                               name="title"
                               data-ng-model="lesson.title"
                               data-custom-error
                               required
                               data-ng-minlength="3"
                               data-ng-maxlength="255">
                        <div data-ng-show="FormLessonAdd.$submitted" data-ng-messages="FormLessonAdd.title.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Title not should be empty.</span>
                            <span data-ng-message="minlength" class="help-block small no-mb">Title is too short.</span>
                            <span data-ng-message="maxlength" class="help-block small no-mb">Title is too long.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormLessonAdd.errors.title}}</span>
                        </div>
                    </div>
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormLessonAdd.file.$dirty && FormLessonAdd.file.$invalid }">
                        <label class="control-label">Document</label>
                        <div class="input-group">
                            <input type="text" data-ng-model="lesson.file.name" class="form-control" placeholder="Upload Document..." disabled>
                            <span class="input-group-btn">
                                <input type="file"
                                       id="document"
                                       name="file"
                                       data-ngf-select
                                       data-ng-model="lesson.file"
                                       data-ngf-pattern=".pdf,.doc,.docx,.word,.txt,.ppt,.pptx,.key,.xmind"
                                       data-ngf-max-size="100MB"
                                       data-custom-error
                                       required
                                       class="hide"
                                >
                                <label for="document" class="btn btn-sm btn-info">Upload</label>
                            </span>
                        </div>
                        <div data-ng-show="FormLessonAdd.file.$dirty" data-ng-messages="FormLessonAdd.file.$error" role="alert">
                            <span data-ng-message="pattern" class="help-block small no-mb">The document is not a type PDF, Word, TXT, PPT or KEY</span>
                            <span data-ng-message="maxSize" class="help-block small no-mb">The maximum document size 100MB</span>
                            <span data-ng-message="required" class="help-block small no-mb">Document not should be empty.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormLessonAdd.errors.file}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scrollable-footer">
                <div class="modal-footer">
                    <button type="button" data-ui-turn-off="modalLesson" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>

    </div>

    <div class="modal modal-overlay" data-ui-if="modalLessonEdit" data-ui-state="modalLessonEdit">

        <form name="FormLessonEdit" data-ng-submit="updateLesson(lesson)" class="scrollable" novalidate>
            <div class="scrollable-header">
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalLessonEdit">&times;</button>
                    <h4 class="modal-title">Edit - {{lesson.title}}</h4>
                </div>
            </div>
            <div class="scrollable-content">
                <div class="modal-body">
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormLessonEdit.$submitted && FormLessonEdit.title.$invalid }">
                        <label class="control-label">Title</label>
                        <input type="text"
                               class="form-control"
                               name="title"
                               data-ng-model="lesson.title"
                               data-custom-error
                               required
                               data-ng-minlength="3"
                               data-ng-maxlength="255">
                        <div data-ng-show="FormLessonEdit.$submitted" data-ng-messages="FormLessonEdit.title.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Title not should be empty.</span>
                            <span data-ng-message="minlength" class="help-block small no-mb">Title is too short.</span>
                            <span data-ng-message="maxlength" class="help-block small no-mb">Title is too long.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormLessonEdit.errors.title}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scrollable-footer">
                <div class="modal-footer">
                    <button type="button" data-ui-turn-off="modalLessonEdit" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>

    </div>
</div>