<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-uppercase">
        Lesson Groups
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-header">
                <div class="container">
                    <div class="mt15 has-feedback clearfix">
                        <input type="text" class="form-control" data-ng-model="search.title">
                        <span class="fa fa-search form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="scrollable-content">
                <div class="container">
                    <table class="table social-proof-table">
                        <tr data-ng-repeat="group in groups | filter:search as results">
                            <td>
                                <a data-ng-href="/lesson-plans/{{group.id}}">{{group.title}}</a>
                            </td>
                            <td class="col-70 text-right">
                                <div class="btn-group btn-group-xs">
                                    <button type="button" data-ng-click="modalEditGroup(group)" class="btn btn-primary"><i class="fa fa-edit"></i></button>
                                    <button type="button" data-ng-click="removeGroup(group)" class="btn btn-danger"><i class="fa fa-remove"></i></button>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <p data-ng-if="results.length === 0" class="text-warning text-center">Lesson Groups not found!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a data-ng-href="/ceo-profile" class="btn btn-navbar"><i class="fa fa-reply"></i> Back</a>
        <a data-ui-turn-on="modalAddGroup" class="btn btn-navbar"><i class="fa fa-user-plus"></i> Add</a>
    </div>
</div>
<div data-ui-content-for="modals">
    <div class="modal modal-overlay" data-ui-if="modalAddGroup" data-ui-state="modalAddGroup">
        <div class="modal-dialog">
            <form name="FormAddGroup" class="modal-content" data-ng-submit="addNewGroup()" novalidate>
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalAddGroup">&times;</button>
                    <h4 class="modal-title">Add New Lesson Group</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormAddGroup.$submitted && FormAddGroup.title.$invalid }">
                        <input type="text"
                               class="form-control"
                               name="title"
                               data-ng-model="group.title"
                               data-custom-error
                               required
                               data-ng-minlength="3"
                               data-ng-maxlength="255">
                        <div data-ng-show="FormAddGroup.$submitted" data-ng-messages="FormAddGroup.title.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Group Name not should be empty.</span>
                            <span data-ng-message="minlength" class="help-block small no-mb">Group Name is too short.</span>
                            <span data-ng-message="maxlength" class="help-block small no-mb">Group Name is too long.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormAddGroup.errors.title}}</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-ui-turn-off="modalAddGroup" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add Group</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal modal-overlay" data-ui-if="modalEditGroup" data-ui-state="modalEditGroup">
        <div class="modal-dialog">
            <form name="FormEditGroup" class="modal-content" data-ng-submit="editGroup()" novalidate>
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalEditGroup">&times;</button>
                    <h4 class="modal-title">Edit Lesson Group - {{edit_group.title}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormEditGroup.$submitted && FormEditGroup.title.$invalid }">
                        <input type="text"
                               class="form-control"
                               name="title"
                               data-ng-model="edit_group.title"
                               data-custom-error
                               required
                               data-ng-minlength="3"
                               data-ng-maxlength="255">
                        <div data-ng-show="FormEditGroup.$submitted" data-ng-messages="FormEditGroup.title.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Group Name not should be empty.</span>
                            <span data-ng-message="minlength" class="help-block small no-mb">Group Name is too short.</span>
                            <span data-ng-message="maxlength" class="help-block small no-mb">Group Name is too long.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormEditGroup.errors.title}}</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-ui-turn-off="modalEditGroup" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>