<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-capitalize">
        {{ title }}
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content section section-wide">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Starting Income
                                            <strong class="pull-right">{{ apprentice.percentage_this_year_profit }}%</strong>
                                        </div>
                                        <div class="panel-body text-center">
                                            <strong class="text-primary">{{ apprentice.current_salary | currency : "$" : 0 }}</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Weekly Goal
                                        </div>
                                        <div class="panel-body">
                                            <a data-ng-href="/member/{{apprentice.id}}/goals" class="btn btn-primary btn-block">View Goals</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <div class="clearfix">
                                                Monthly Calendar
                                                <div class="pull-right">
                                                    <label for="calendar_upload" class="btn btn-info btn-xs btn-upload icon-upload"></label>
                                                    <input type="file"
                                                           id="calendar_upload"
                                                           data-ngf-select="calendarUpload($files, $invalidFiles)"
                                                           data-ng-model="calendar.files"
                                                           data-ngf-multiple="true"
                                                           data-ngf-accept="'image/*'"
                                                           data-ngf-pattern="'image/*'"
                                                           data-ngf-max-size="1MB"
                                                           class="hide"
                                                    >
                                                    <button type="button" data-ui-turn-on="modalCalendarUploads" class="btn btn-info btn-xs"><i class="fa fa-th-large"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body relative">
                                            <div data-ng-if="apprentice.calendar.length" class="relative">
                                                <ul rn-carousel
                                                    rn-carousel-transition="zoom"
                                                    rn-carousel-buffered
                                                    rn-carousel-controls
                                                    rn-carousel-locked="apprentice.calendar.length <= 1"
                                                >
                                                    <li data-ng-repeat="entry in apprentice.calendar">
                                                        <img data-ng-src="{{ entry.image }}">
                                                    </li>
                                                </ul>
                                            </div>
                                            <p data-ng-if="!apprentice.calendar.length" class="text-center text-warning">Images not found!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    Main Exit Strategy
                                                </div>
                                                <div class="panel-body">
                                                    <select class="form-control"
                                                            data-ng-model="apprentice.main_exit_strategy"
                                                            data-ng-change="changeExitStrategy()"
                                                            data-ng-options="exit_strategy.id as exit_strategy.title for exit_strategy in exit_strategies"
                                                    >
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    Top Lead Strategy
                                                    <div class="pull-right">
                                                        <button type="button" data-ui-turn-on="modalLeadStrategy" class="btn btn-info btn-xs"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <select class="form-control"
                                                                data-ng-model="apprentice.lead_strategy_1"
                                                                data-ng-change="changeLeadStrategy()"
                                                                data-ng-options="lead_strategy.id as lead_strategy.title for lead_strategy in lead_strategies"
                                                        >
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <select class="form-control"
                                                                data-ng-model="apprentice.lead_strategy_2"
                                                                data-ng-change="changeLeadStrategy()"
                                                                data-ng-options="lead_strategy.id as lead_strategy.title for lead_strategy in lead_strategies"
                                                        >
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <select class="form-control"
                                                                data-ng-model="apprentice.lead_strategy_3"
                                                                data-ng-change="changeLeadStrategy()"
                                                                data-ng-options="lead_strategy.id as lead_strategy.title for lead_strategy in lead_strategies"
                                                        >
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    Sweet Spots Of Focus
                                                </div>
                                                <form name="FormApprentice" class="panel-body" novalidate>
                                                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormApprentice.sweet_spots_of_focus.$dirty && FormApprentice.sweet_spots_of_focus.$invalid }">
                                                        <textarea class="form-control"
                                                                  rows="3"
                                                                  name="sweet_spots_of_focus"
                                                                  data-ng-model="apprentice.sweet_spots_of_focus"
                                                                  data-ng-blur="saveApprentice()"
                                                                  data-custom-error
                                                                  data-ng-maxlength="255"
                                                        ></textarea>
                                                        <div data-ng-show="FormApprentice.sweet_spots_of_focus.$dirty" data-ng-messages="FormApprentice.sweet_spots_of_focus.$error" role="alert">
                                                            <span data-ng-message="maxlength" class="help-block small no-mb">Sweet Spots Of Focus is too long.</span>
                                                            <span data-ng-message="custom" class="help-block small no-mb">{{FormApprentice.errors.sweet_spots_of_focus}}</span>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    Current Group
                                                </div>
                                                <div class="panel-body">
                                                    <select class="form-control" data-ng-model="apprentice.group_id" data-ng-change="changeGroup()" data-ng-options="group.id as group.title for group in groups"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a data-ng-href="/group/{{apprentice.group_id}}" class="btn btn-navbar"><i class="fa fa-reply"></i> Back</a>
        <a data-ng-href="/member/{{apprentice.id}}/scorecard" class="btn btn-navbar"><i class="fa fa-bar-chart"></i> Scorecard</a>
    </div>
</div>
<div data-ui-content-for="modals">

    <div class="modal modal-overlay" data-ui-if="modalCalendarUploads" data-ui-state="modalCalendarUploads">
        <div class="scrollable">
            <div class="scrollable-header">
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalCalendarUploads">&times;</button>
                    <h4 class="modal-title">Uploads</h4>
                </div>
            </div>
            <div class="scrollable-content">
                <div class="modal-body">
                    <div data-ng-if="apprentice.calendar.length > 0" class="container">
                        <div class="row">
                            <div class="apprentice-calendar-item col-xs-4 col-md-2 col-lg-2" data-ng-repeat="entry in apprentice.calendar">
                                <div class="thumbnail" data-ng-click="entry.checked = !entry.checked" data-ng-class="{checked: entry.checked}">
                                    <img class="img-responsive" data-ng-src="{{entry.image}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <p data-ng-if="apprentice.calendar.length === 0" class="text-warning text-center">Uploads not found!</p>
                </div>
            </div>
            <div class="scrollable-footer">
                <div class="modal-footer">
                    <button data-ui-turn-off="modalCalendarUploads" data-ng-click="cancelCheckedUploads()" class="btn btn-default">Cancel</button>
                    <button data-ng-click="removeUploads()" data-ng-if="apprentice.calendar.length" class="btn btn-danger">Remove</button>
                    <label for="calendar_modal_upload" class="btn btn-primary">Upload</label>
                    <input type="file"
                           id="calendar_modal_upload"
                           data-ngf-select="calendarUpload($files, $invalidFiles)"
                           data-ng-model="calendar.files"
                           data-ngf-multiple="true"
                           data-ngf-accept="'image/*'"
                           data-ngf-pattern="'image/*'"
                           data-ngf-max-size="1MB"
                           class="hide"
                    >
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-ui-if="modalErrors" data-ui-state="modalErrors">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalErrors">&times;</button>
                    <h4 class="modal-title">Calendar Uploads</h4>
                </div>
                <div class="modal-body">
                    <ul data-ng-if="invalidFiles.length > 0" class="list-unstyled no-mb">
                        <li data-ng-repeat="file in invalidFiles" class="text-danger">
                            <div data-ng-messages="file.$errorMessages">
                                <span data-ng-message="maxSize" class="small">File {{file.name}} more than 1MB</span>
                            </div>
                        </li>
                    </ul>
                    <ul data-ng-if="calendar.errors.length > 0" class="list-unstyled no-mb">
                        <li data-ng-repeat="error in calendar.errors" class="text-danger">
                            <span class="small">{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button data-ui-turn-off="modalErrors" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-ui-if="modalLeadStrategy" data-ui-state="modalLeadStrategy">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <form name="FormLeadStrategy" data-ng-submit="addLeadStrategy()" class="modal-content" novalidate>
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalLeadStrategy">&times;</button>
                    <h4 class="modal-title">Add New Lead Strategy</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormLeadStrategy.$submitted && FormLeadStrategy.title.$invalid }">
                        <label class="control-label">Title</label>
                        <input type="text"
                               class="form-control"
                               name="title"
                               data-ng-model="lead_strategy.title"
                               placeholder="Title"
                               data-custom-error
                               required
                               data-ng-minlength="3"
                               data-ng-maxlength="255">
                        <div data-ng-show="FormLeadStrategy.$submitted" data-ng-messages="FormLeadStrategy.title.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Title not should be empty.</span>
                            <span data-ng-message="minlength" class="help-block small no-mb">Title is too short.</span>
                            <span data-ng-message="maxlength" class="help-block small no-mb">Title is too long.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormLeadStrategy.errors.title}}</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-ui-turn-off="modalLeadStrategy" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>

</div>