<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-capitalize">
        Apprentice Goals
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content">
                <ul data-ng-if="apprentice.goals.length > 0" class="list-group white">
                    <li class="list-group-item" data-ng-repeat="goal in apprentice.goals">
                        <div class="checkbox no-mt no-mb">
                            <label data-ng-class="{'line-through': goal.status}">
                                <input type="checkbox" data-ng-change="updateGoal(goal)" data-ng-model="goal.status" data-ng-disabled="goal.status">
                                {{goal.title}}
                            </label>
                        </div>
                    </li>
                </ul>
                <p data-ng-if="apprentice.goals.length === 0" class="text-warning text-center mt15">Goals not found!</p>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a data-ng-href="/member/{{apprentice.id}}" class="btn btn-navbar"><i class="fa fa-reply"></i> Back</a>
        <a data-ui-turn-on="modalAddGoal" class="btn btn-navbar"><i class="fa fa-flag"></i> Add Goal</a>
    </div>
</div>
<div data-ui-content-for="modals">
    <div class="modal modal-overlay" data-ui-if="modalAddGoal" data-ui-state="modalAddGoal">
        <div class="modal-dialog">
            <form name="FormAddGoal" class="modal-content" data-ng-submit="addGoal()" novalidate>
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalAddGoal">&times;</button>
                    <h4 class="modal-title">Add New Apprentice Goal</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormAddGoal.$submitted && FormAddGoal.title.$invalid }">
                        <input type="text"
                               class="form-control"
                               name="title"
                               data-ng-model="goal.title"
                               data-ng-keydown="enter($event)"
                               data-custom-error
                               required
                               data-ng-minlength="3"
                               data-ng-maxlength="255">
                        <div data-ng-show="FormAddGoal.$submitted" data-ng-messages="FormAddGoal.title.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Goal Name not should be empty.</span>
                            <span data-ng-message="minlength" class="help-block small no-mb">Goal Name is too short.</span>
                            <span data-ng-message="maxlength" class="help-block small no-mb">Goal Name is too long.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormAddGoal.errors.title}}</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-ui-turn-off="modalAddGoal" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add Goal</button>
                </div>
            </form>
        </div>
    </div>
</div>