<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-capitalize">
        {{ apprentice.first_name }} {{ apprentice.last_name }} Scorecard
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content">
                <ul class="list-group white">
                    <li class="list-group-item scorecard-number clearfix">
                        # of Prospects
                        <form name="FormProspect" class="form-group-sm pull-right">
                            <input type="number"
                                   min="0"
                                   max="99"
                                   name="no_of_prospects"
                                   data-ng-model="apprentice.no_of_prospects"
                                   data-ng-change="changeProspects()"
                                   class="form-control pull-right"
                                   required>
                        </form>
                    </li>
                    <li class="list-group-item clearfix">
                        # of Under Contract
                        <span class="badge budge-info">{{ apprentice.under_contract | currency : "" : 0 }}</span>
                    </li>
                    <li class="list-group-item clearfix">
                        # of Deals This Month
                        <span class="badge budge-info">{{ apprentice.deals_this_month | currency : "" : 0 }}</span>
                    </li>
                    <li class="list-group-item clearfix">
                        # of Deals This Year
                        <span class="badge budge-info">{{ apprentice.deals_this_year | currency : "" : 0 }}</span>
                    </li>
                    <li class="list-group-item clearfix">
                        Lifetime Deals
                        <span class="badge budge-info">{{ apprentice.deals_lifetime | currency : "" : 0 }}</span>
                    </li>
                    <li class="list-group-item clearfix">
                        Contracts Lost / Closed
                        <span class="badge budge-primary">{{ (apprentice.lost_contracts / apprentice.deals_lifetime * 100) | currency : "" : 0 }}%</span>
                        <span class="badge">{{ apprentice.lost_contracts | currency : "" : 0 }} / {{ apprentice.deals_lifetime | currency : "" : 0 }}</span>
                    </li>
                </ul>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                            <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group" role="group">
                                    <a data-ng-href="/member/{{apprentice.id}}/contract/add" class="btn btn-success">New Contract</a>
                                </div>
                                <div class="btn-group" role="group">
                                    <a data-ng-href="/member/{{apprentice.id}}/contract/list" class="btn btn-info">View Contracts</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info mt20">
                        <div class="panel-heading">
                            Notes
                        </div>
                        <div class="panel-body">
                            <textarea class="form-control" data-ng-blur="saveNotes()" data-ng-model="apprentice.notes" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a data-ng-href="/member/{{apprentice.id}}" class="btn btn-navbar"><i class="fa fa-user"></i> Back to Profile</a>
        <a data-ng-href="/group/{{apprentice.group_id}}" class="btn btn-navbar"><i class="fa fa-group"></i> Apprentices</a>
    </div>
</div>