<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-capitalize">
        Notes
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content section">
                <div data-ng-if="ceo.notes.length" class="panel panel-info" data-ng-repeat="entry in ceo.notes">
                    <div class="panel-body small">
                        <span data-ng-if="entry.note.length > 500 && !entry.more">{{entry.note | limitTo: 500}}...</span>
                        <span data-ng-if="entry.more || entry.note.length <= 500">{{ entry.note }}</span>
                    </div>
                    <div class="panel-footer text-right">
                        <button type="button" data-ng-if="entry.note.length > 500" data-ng-click="entry.more = !entry.more" class="btn btn-info btn-xs pull-left"><i class="fa fa-arrows-v"></i> More</button>
                        <span class="text-right text-muted pr10 small">{{ entry.date }}</span>
                        <button type="button" data-ng-click="editNote(entry)" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Edit</button>
                    </div>
                </div>
                <p data-ng-if="!ceo.notes.length" class="text-center text-warning">Notes not found!</p>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a data-ng-href="/ceo-profile" class="btn btn-navbar"><i class="fa fa-reply"></i> Back</a>
        <a data-ng-click="addNote()" class="btn btn-navbar"><i class="fa fa-sticky-note"></i> Add Note</a>
    </div>
</div>
<div data-ui-content-for="modals">

    <div class="modal modal-overlay" data-ui-if="modalNote" data-ui-state="modalNote">
        <div class="scrollable">
            <div class="scrollable-header">
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalNote">&times;</button>
                    <h4 class="modal-title">{{entry.title}}</h4>
                </div>
            </div>
            <div class="scrollable-content">
                <div class="section full-height">
                    <textarea data-ng-model="entry.note" class="form-control note"></textarea>
                </div>
            </div>
            <div class="scrollable-footer">
                <div class="modal-footer">
                    <button data-ui-turn-off="modalNote" class="btn btn-default">Cancel</button>
                    <button data-ng-click="saveNote(entry)" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>