<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-capitalize">
        Social Proof
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-content section section-wide">
                <table data-ng-if="tasks" class="table social-proof-table">
                    <tr data-ng-repeat="task in tasks">
                        <td class="col-small text-center">
                            <span class="badge">{{task.entries.length}}</span>
                        </td>
                        <td>
                            <a data-ng-href="/social-proof/{{task.id}}">{{task.title}}</a>
                        </td>
                        <td class="col-small text-left">
                            <input type="file"
                                   id="social_upload_{{task.id}}"
                                   data-ngf-select="upload($files, $invalidFiles, task)"
                                   data-ng-model="task.files"
                                   data-ngf-multiple="task.support_multiple_entries"
                                   data-ng-disabled="!task.support_multiple_entries && task.entries.length"
                                   data-ngf-accept="'image/*,video/*'"
                                   data-ngf-pattern="'image/*,video/*'"
                                   data-ngf-max-size="100MB"
                                   class="hide"
                            >
                            <label for="social_upload_{{task.id}}" class="btn btn-info btn-xs btn-upload icon-image" data-ng-class="{disabled: !task.support_multiple_entries && task.entries.length}"></label>
                        </td>
                    </tr>
                </table>
                <p data-ng-if="!tasks" class="text-warning text-center">Social Proof Tasks not found!</p>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a data-ng-href="/" class="btn btn-navbar"><i class="fa fa-reply"></i> Back</a>
        <a data-ui-turn-on="modalSend" class="btn btn-navbar" data-ng-class="{disabled: !isSend}"><i class="fa fa-send"></i> Send</a>
    </div>
</div>
<div data-ui-content-for="modals">

    <div class="modal" data-ui-if="modalSend" data-ui-state="modalSend">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <form name="FormSend" class="modal-content" data-ng-submit="send()" novalidate>
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalSend">&times;</button>
                    <h4 class="modal-title">Social Media Manager's Email?</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormSend.$submitted && FormSend.email.$invalid }">
                        <input type="email"
                               class="form-control"
                               name="email"
                               data-ng-model="social_media_manager_email"
                               data-custom-error
                               required
                               data-ng-maxlength="255">
                        <div data-ng-show="FormSend.$submitted" data-ng-messages="FormSend.email.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Email not should be empty.</span>
                            <span data-ng-message="maxlength" class="help-block small no-mb">Email is too long.</span>
                            <span data-ng-message="email" class="help-block small no-mb">Email an incorrect.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormSend.errors.email}}</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-ui-turn-off="modalSend" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal modal-overlay" data-ui-if="modalFile" data-ui-state="modalFile">
        <div class="scrollable">
            <div class="scrollable-header">
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalFile">&times;</button>
                    <h4 class="modal-title">File Description</h4>
                </div>
            </div>
            <div class="scrollable-content relative">
                <img data-ng-if="isImage(entry.type)" class="file-centered" data-ng-src="{{entry.proof_image_url}}">
                <video data-ng-if="isVideo(entry.type)" class="file-centered" data-ngf-src="entry.proof_image_url" controls></video>
            </div>
            <form name="FormEntry" data-ng-submit="updateEntry(entry)" class="scrollable-footer" novalidate>
                <div class="panel panel-default modal-file-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Notes</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group-sm" data-ng-class="{ 'has-error': FormEntry.$submitted && FormEntry.remark.$invalid }">
                            <textarea class="form-control"
                                      name="remark"
                                      data-ng-model="entry.remark"
                                      data-ng-maxlength="255"
                                      rows="2">
                            </textarea>
                            <div data-ng-show="FormEntry.$submitted" data-ng-messages="FormEntry.remark.$error" role="alert">
                                <span data-ng-message="maxlength" class="help-block small no-mb">Notes is too long.</span>
                                <span data-ng-message="custom" class="help-block small no-mb">{{FormEntry.errors.remark}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-ui-turn-off="modalFile" class="btn btn-default">Close</button>
                    <button type="button" data-ng-if="entry" data-ng-click="removeEntry(entry)" class="btn btn-danger">Remove</button>
                    <button type="submit" data-ng-if="entry" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal" data-ui-if="modalErrors" data-ui-state="modalErrors">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalErrors">&times;</button>
                    <h4 class="modal-title">Social Proof</h4>
                </div>
                <div class="modal-body">
                    <ul data-ng-if="invalidFiles.length > 0" class="list-unstyled no-mb">
                        <li data-ng-repeat="file in invalidFiles" class="text-danger">
                            <div data-ng-messages="file.$errorMessages">
                                <span data-ng-message="maxSize" class="small">File {{file.name}} more than 100MB</span>
                                <span data-ng-message="pattern" class="small">File {{file.name}} is not an image or video</span>
                            </div>
                        </li>
                    </ul>
                    <ul data-ng-if="errors.length > 0" class="list-unstyled no-mb">
                        <li data-ng-repeat="error in errors" class="text-danger">
                            <span class="small">{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button data-ui-turn-off="modalErrors" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" data-ui-if="modalSuccess" data-ui-state="modalSuccess">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalSuccess">&times;</button>
                    <h4 class="modal-title">Social Proof</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center text-success">Social Proof has been sent successfully</p>
                </div>
                <div class="modal-footer">
                    <button data-ui-turn-off="modalSuccess" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>