<div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center text-uppercase">
        Users
    </div>
    <div class="btn-group pull-left">
        <div class="btn sidebar-toggle" data-ui-toggle='uiSidebarLeft'>
            <i class="fa fa-ellipsis-v"></i>
        </div>
    </div>
</div>
<div class="app-body">
    <div class="app-content">
        <div class="scrollable">
            <div class="scrollable-header">
                <div class="container">
                    <div class="mt15 has-feedback clearfix">
                        <input type="text" class="form-control" data-ng-model="search.email">
                        <span class="fa fa-search form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="scrollable-content section">
                <div class="table-responsive no-mb">
                    <table class="table users-table no-mb">
                        <thead>
                            <tr>
                                <th class="white">Name</th>
                                <th class="white">Email</th>
                                <th class="white text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="user in users | filter:search as results">
                                <td class="white">{{ user.name }}</td>
                                <td class="white">{{ user.email }}</td>
                                <td class="white text-center">
                                    <button type="button" data-ng-click="showEdit(user)" class="btn btn-info btn-xs"><i class="fa fa-edit"></i></button>
                                </td>
                            </tr>
                            <tr data-ng-if="results.length === 0">
                                <td colspan="3" class="text-warning text-center">
                                    Users not found!
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a data-ng-href="/" class="btn btn-navbar"><i class="fa fa-reply"></i> Back</a>
        <a data-ui-turn-on="modalAddUser" class="btn btn-navbar"><i class="fa fa-user-plus"></i> Add User</a>
    </div>
</div>
<div data-ui-content-for="modals">

    <div class="modal modal-overlay" data-ui-if="modalAddUser" data-ui-state="modalAddUser">
        <form name="FormAddUser" class="scrollable" data-ng-submit="addUser()" novalidate>
            <div class="scrollable-header">
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalAddUser">&times;</button>
                    <h4 class="modal-title">Add New User</h4>
                </div>
            </div>
            <div class="scrollable-content">
                <div class="modal-body">
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormAddUser.$submitted && FormAddUser.name.$invalid }">
                        <label class="white control-label">Name</label>
                        <input type="text"
                               class="form-control"
                               name="name"
                               data-ng-model="user.name"
                               data-custom-error
                               required
                               data-ng-minlength="3"
                               data-ng-maxlength="255">
                        <div data-ng-show="FormAddUser.$submitted" data-ng-messages="FormAddUser.name.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Name not should be empty.</span>
                            <span data-ng-message="minlength" class="help-block small no-mb">Name is too short.</span>
                            <span data-ng-message="maxlength" class="help-block small no-mb">Name is too long.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormAddUser.errors.name}}</span>
                        </div>
                    </div>
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormAddUser.$submitted && FormAddUser.email.$invalid }">
                        <label class="control-label">Email</label>
                        <input type="email"
                               class="form-control"
                               name="email"
                               data-ng-model="user.email"
                               data-custom-error
                               required>
                        <div data-ng-show="FormAddUser.$submitted" data-ng-messages="FormAddUser.email.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Email not should be empty.</span>
                            <span data-ng-message="email" class="help-block small no-mb">Email an incorrect.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormAddUser.errors.email}}</span>
                        </div>
                    </div>
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormAddUser.$submitted && FormAddUser.password.$invalid }">
                        <label class="control-label">Password</label>
                        <input type="password"
                               class="form-control white"
                               name="password"
                               data-ng-model="user.password"
                               data-custom-error
                               required
                               data-ng-minlength="6"
                               data-ng-maxlength="100">
                        <div data-ng-show="FormAddUser.$submitted" data-ng-messages="FormAddUser.password.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Password not should be empty.</span>
                            <span data-ng-message="minlength" class="help-block small no-mb">Password is too short.</span>
                            <span data-ng-message="maxlength" class="help-block small no-mb">Password is too long.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormAddUser.errors.password}}</span>
                        </div>
                    </div>
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormAddUser.$submitted && FormAddUser.password_confirmation.$invalid }">
                        <label class="control-label">Password Confirmation</label>
                        <input type="password"
                               class="form-control"
                               name="password_confirmation"
                               data-ng-model="user.password_confirmation"
                               required
                               data-ng-minlength="6"
                               data-ng-maxlength="100">
                        <div data-ng-show="FormAddUser.$submitted" data-ng-messages="FormAddUser.password_confirmation.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Password Confirmation not should be empty.</span>
                            <span data-ng-message="minlength" class="help-block small no-mb">Password Confirmation is too short.</span>
                            <span data-ng-message="maxlength" class="help-block small no-mb">Password Confirmation is too long.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scrollable-footer">
                <div class="modal-footer">
                    <button type="button" data-ui-turn-off="modalAddUser" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add User</button>
                </div>
            </div>
        </form>
    </div>

    <div class="modal modal-overlay" data-ui-if="modalEditUser" data-ui-state="modalEditUser">
        <form name="FormEditUser" class="scrollable" data-ng-submit="editUser(edit_user)" novalidate>
            <div class="scrollable-header">
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalEditUser">&times;</button>
                    <h4 class="modal-title">Edit User - {{ edit_user.name }}</h4>
                </div>
            </div>
            <div class="scrollable-content">
                <div class="modal-body">
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormEditUser.$submitted && FormEditUser.name.$invalid }">
                        <label class="control-label">Name</label>
                        <input type="text"
                               class="form-control"
                               name="name"
                               data-ng-model="edit_user.name"
                               data-custom-error
                               required
                               data-ng-minlength="3"
                               data-ng-maxlength="255">
                        <div data-ng-show="FormEditUser.$submitted" data-ng-messages="FormEditUser.name.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Name not should be empty.</span>
                            <span data-ng-message="minlength" class="help-block small no-mb">Name is too short.</span>
                            <span data-ng-message="maxlength" class="help-block small no-mb">Name is too long.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormEditUser.errors.name}}</span>
                        </div>
                    </div>
                    <div class="form-group-sm mb20" data-ng-class="{ 'has-error': FormEditUser.$submitted && FormEditUser.email.$invalid }">
                        <label class="control-label">Email</label>
                        <input type="email"
                               class="form-control"
                               name="email"
                               data-ng-model="edit_user.email"
                               data-custom-error
                               required>
                        <div data-ng-show="FormEditUser.$submitted" data-ng-messages="FormEditUser.email.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Email not should be empty.</span>
                            <span data-ng-message="email" class="help-block small no-mb">Email an incorrect.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormEditUser.errors.email}}</span>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input data-ng-model="edit_user.active" type="checkbox">
                            <strong>Is Active</strong>
                        </label>
                    </div>
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormEditUser.$submitted && FormEditUser.password.$invalid }">
                        <label class="control-label">Password</label>
                        <input type="password"
                               class="form-control"
                               name="password"
                               data-ng-model="edit_user.password"
                               data-custom-error
                               data-ng-minlength="6"
                               data-ng-maxlength="100">
                        <div data-ng-show="FormEditUser.$submitted" data-ng-messages="FormEditUser.password.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Password not should be empty.</span>
                            <span data-ng-message="minlength" class="help-block small no-mb">Password is too short.</span>
                            <span data-ng-message="maxlength" class="help-block small no-mb">Password is too long.</span>
                            <span data-ng-message="custom" class="help-block small no-mb">{{FormEditUser.errors.password}}</span>
                        </div>
                    </div>
                    <div class="form-group-sm" data-ng-class="{ 'has-error': FormEditUser.$submitted && FormEditUser.password_confirmation.$invalid }">
                        <label class="control-label">Password Confirmation</label>
                        <input type="password"
                               class="form-control"
                               name="password_confirmation"
                               data-ng-model="edit_user.password_confirmation"
                               data-ng-minlength="6"
                               data-ng-maxlength="100">
                        <div data-ng-show="FormEditUser.$submitted" data-ng-messages="FormEditUser.password_confirmation.$error" role="alert">
                            <span data-ng-message="required" class="help-block small no-mb">Password Confirmation not should be empty.</span>
                            <span data-ng-message="minlength" class="help-block small no-mb">Password Confirmation is too short.</span>
                            <span data-ng-message="maxlength" class="help-block small no-mb">Password Confirmation is too long.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scrollable-footer">
                <div class="modal-footer">
                    <button type="button" data-ui-turn-off="modalEditUser" class="btn btn-default">Cancel</button>
                    <button type="button" data-ng-click="removeUser(edit_user)" class="btn btn-danger">Remove</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>

    <div class="modal" data-ui-if="modalSuccess" data-ui-state="modalSuccess">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-ui-turn-off="modalSuccess">&times;</button>
                    <h4 class="modal-title">Success</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center text-success">User {{username}} has been successfully added.</p>
                </div>
                <div class="modal-footer">
                    <button data-ui-turn-off="modalSuccess" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>